<div class="characters">
  <hr />
  <h2>Available Characters</h2>
  <accordion>
    <accordion-group *ngFor="let character of characters" [title]="character.name" heading="{{character.alias}} ->">
      <div class="fields picture"> <!-- PRIORITY -->
        <p class="swag">
          <img src="../../../assets/images/{{character.picture}}" alt="image of the character" width="150"> <!-- PICTURE -->
        </p>
      </div>
      <tabset ngClass="select_tab">
        <tab heading="Priority Selection" id="tab1">
          <table>
            <tr>
              <th scope="row">Sin</th>
              <td>{{character.name}}</td>
            </tr>
            <tbody *ngFor="let priority of character.priority">
            <tr>
              <th scope="row">Metatype</th>
              <td>{{priority.metatype.race}}</td>
            </tr>
            <tr>
              <th scope="row">Attributes</th>
              <td>{{priority.attributes}} attributes points</td>
            </tr>
            <tr>
              <th scope="row">Skills</th>
              <td>{{priority.skills.skill_pts}} pts / {{priority.skills.skill_group_pts}} group pts</td>
            </tr>
            <tr>
              <th scope="row">Magic</th>
              <td class="multiline">
                {{priority.magic.type}} {{priority.magic.rating}}, <br />
                <span class="span list" *ngFor="let magic of priority.magic.magic_skills">{{magic.skill}} {{magic.rating}},</span>
              </td>
            </tr>
            <tr>
              <th scope="row">Ressources</th>
              <td>{{priority.ressources}} nuyens</td>
            </tr>
            </tbody>
            <tr>
              <th scope="row">Background</th>
              <td>{{character.background}}</td>
            </tr>
          </table>
        </tab>
        <tab heading="Attribute Table">Basic content for tab 2</tab>
        <tab heading="Tab 3">Basic content for tab 3</tab>
      </tabset>

    </accordion-group>
  </accordion>
</div>
