article {
  padding-left: 10px;
}

article h3 {

}

.priority, .picture {
  position: relative;
}

.swag {
  float: left;
}

.datalinked {
  float: left;
  width: 16%;
  padding:5px;
  font-size: 12px;
  min-height: 160px;
  min-width: 118px;
  border: 1px solid #9F9F9F;
}

.datalinked h6 {
  font-size: 14px;
}

.datalinked p.multiline {
  border-bottom: 1px solid #9F9F9F;
}

.fields {
  clear: both;
}
