<div class="all_content">
  <div class="header main_column">
    <h1 class="logo">
      Future is over-rated!
    </h1>
    <div class="subtitle">
      Welcome<br />to the<br />sixth world
    </div>
  </div>
  <div class="content main_column">
    <div class="navbar">
      <ul class="nav">
        <li class="current">
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/character">Character</a>
        </li>
        <li>
          <a href="/newsfeed">JackPoint</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/admin">Admin Panel</a>
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <div class="articles">
        <article>
          <h3>Title of a post</h3>
          <span class="thumbnails">
            <img src="../../assets/images/shadow_thumbnail.jpg" alt="shadowrun logo" />
          </span>
          <p>
            description of the post
          </p>
          <span class="metadata">
            <strong>date of redaction</strong>
            <a href="/categorie1">categorie1</a>
            <a href="/categorie2">categorie2</a>
          </span>
        </article>
      </div>
    </div>
  </div>
</div>
