<div class="all_content">
  <div class="header main_column">
    <h1 class="logo">
      Future is over-rated!
    </h1>
    <div class="subtitle">
      Welcome<br />to the<br />sixth world
    </div>
  </div>
  <div class="content main_column">
    <div class="navbar">
      <ul class="nav">
        <li class="current">
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/character">Character</a>
        </li>
        <li>
          <a href="/newsfeed">JackPoint</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
        <li>
          <a href="/admin">Admin Panel</a>
        </li>
      </ul>
    </div>
    <div class="wrapper">
      <app-articles></app-articles>
    </div>
  </div>
</div>
